// COLORS
$window__color--background: #fff;
$color--labels-secondary: #acb1b4;
$color--border: #ccc;
$color--blue-active: #007ee5;
$mainfont: 'Open Sans',
sans-serif;
$profile__body--color: #f4f8f9;
$color--black--navs-counters: #000;
$color--reviews-stars: #6f7c85;
$profile__title: #6f7c85;
$profile__uploadfoto--bordericon: #d4deea;
$profile__uploadfoto--text: #72777b;
$profile__main__div--background--color: #f4f8f9;
$profile__main__div--editicon--background-color: #ecf1f5;
// Flexbox mixin
@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction($value: row) {
    @if $value==row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    }
    @else if $value==column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    }
    @else if $value==column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    }
    @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin justify-content($value: flex-start) {
    @if $value==flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }
    @else if $value==flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }
    @else if $value==space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    @else if $value==space-around {
        -ms-flex-pack: distribute;
    }
    @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}

@mixin align-items($value: stretch) {
    @if $value==flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }
    @else if $value==flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }
    @else {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}

@mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    -moz-align-self: $value;
    @if $value==flex-start {
        -ms-flex-item-align: start;
    }
    @else if $value==flex-end {
        -ms-flex-item-align: end;
    }
    @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

@mixin flex-wrap($value: nowrap) {
    // No Webkit Box fallback.
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value==nowrap {
        -ms-flex-wrap: none;
    }
    @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}

// BACKGROUND IMAGE
.login--background {
    background: url(../../images/fullscreen_bg_image.jpg) no-repeat center center fixed;
    background-size: cover;
}

// PAGE FONT 
html {
    font-family: $mainfont;
}

// LOGIN PAGE
input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $color--border;
    width: 400px;
    font-size: 17px;
    margin-top: 8px;
    padding-bottom: 7px;
    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
    &:focus:-moz-placeholder {
        color: transparent;
    }
    &:focus::-moz-placeholder {
        color: transparent;
    }
    &:focus:-ms-input-placeholder {
        color: transparent;
    }
}

.animationLabel {
    opacity: 1;
}

label {
    @include align-self(flex-start);
    margin-left: 52px;
    font-size: 12px;
    text-transform: uppercase;
    color: $color--labels-secondary;
    transition: 0.2s linear;
    opacity: 0;
}

.login--window {
    background-color: $window__color--background;
    height: 468px;
    width: 504px;
    margin: 178px auto;
    border-radius: 5px;
    box-shadow: -7px 0px 10px -9px #828282, 7px 0px 10px -9px #828282;
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-direction(column);
}

#login--title {
    text-align: center;
    width: 400px;
    margin-top: 50px;
    font-size: 25px;
    border-bottom: 1px solid $color--border;
    padding-bottom: 35px;
}

#login__label--email {
    margin-top: 42px;
}

#login__label--pass {
    margin-top: 34px;
}

#login--disclaimer {
    text-align: center;
    font-size: 14px;
    width: 385px;
    margin-top: 27px;
    line-height: 1.6em;
    color: $color--labels-secondary;
    a {
        text-decoration: none;
        color: $color--blue-active;
    }
}

#login__btn {
    border: none;
    width: 400px;
    border-radius: 3px;
    height: 45px;
    margin-top: 30px;
    color: $window__color--background;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: $color--blue-active;
}

// PROFILE PAGE
.profile--background {
    background-color: $profile__body--color;
}

// PROFILE - HEADER
.profile__header {
    background-color: $window__color--background;
    height: 303px;
    width: 1170px;
    margin: 0px auto;
    margin-bottom: 0;
    margin-top: 70px;
    border-radius: 1px;
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(flex-start);
    @include flex-direction(column);
}

.profile__nav--bar {
    background-color: $window__color--background;
    height: 60px;
    width: 1170px;
    border-radius: 1px;
    box-shadow: 0px 1px 4px 0px #c5c5c5;
    @include flexbox;
    @include justify-content(space-between);
    nav {
        @include flexbox;
        ul {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            list-style-type: none;
            width: 420px;
            text-transform: uppercase;
            margin-left: 222px;
            a {
                color: $color--black--navs-counters;
                text-decoration: none;
                transition: 0.2s linear;
                box-shadow: 0 2px 0 transparent;
                &:hover {
                    box-shadow: 0 2px 0 $color--blue-active;
                }
                li {
                    font-size: 15px;
                    line-height: 55px;
                }
            }
        }
    }
}

.profile__main {
    background-color: $window__color--background;
    height: 617px;
    width: 1170px;
    margin: 35px auto;
    border-radius: 1px;
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-direction(column);
}

.profile__photoframe {
    width: 170px;
    height: 170px;
    box-shadow: 0px 0px 10px 1px #c5c5c5;
    background: url(../../images/profile_image.jpg) no-repeat;
    background-size: 295px 247px;
    background-position: -84px 0px;
    margin: -38px 24px;
    z-index: 2;
}

.profile__info {
    margin: -93px 222px;
    font-size: 20px;
    line-height: 33px;
    span {
        font-size: 14px;
    }
}

.profile__info--name {
    font-weight: 600;
}

.profile__info--location {
    @include flexbox;
    i {
        margin-right: 14px;
    }
}

.profile__info--phone {
    @include flexbox;
    letter-spacing: 0.5px;
    i {
        margin-right: 10px;
    }
}

.profile__btn--uploadphoto {
    border-radius: 2px;
    border: 1px solid $profile__uploadfoto--bordericon;
    @include align-self(center);
    margin-bottom: 111px;
    background: none;
    padding: 6px 17px;
    color: $profile__uploadfoto--text;
    font-size: 15px;
    letter-spacing: 0.5px;
    @include flexbox;
    @include align-items(center);
    transition: 0.2s linear;
    &:hover {
        background-color: $color--blue-active;
        color: $window__color--background;
        border: 1px solid transparent;
        i {
            color: $window__color--background;
        }
    }
    i {
        color: $profile__uploadfoto--bordericon;
        font-size: 26px;
        margin-right: 20px;
    }
}

.profile__btn--logout {
    @include align-self(flex-end);
    background: none;
    border: 1px solid $color--blue-active;
    padding: 7px 19px;
    margin: 21px 22px;
    text-transform: uppercase;
    color: $color--blue-active;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
    border-radius: 2px;
    transition: 0.2s linear;
    &:hover {
        background-color: $color--blue-active;
        color: $window__color--background;
    }
}

.profile__reviews {
    @include align-self(flex-end);
    @include flexbox;
    @include align-items(center);
    margin-bottom: -21px;
    color: $color--labels-secondary;
    .profile__reviews--stars {
        margin-right: 24px;
        color: $color--reviews-stars;
    }
    i {
        font-size: 25px;
        margin-right: 6px;
    }
    #reviews--count {
        margin-right: 18px;
        color: $color--black--navs-counters;
    }
    span {
        margin-right: 20px;
        font-size: 13px;
    }
}

.profile__followers {
    @include flexbox;
    @include align-items(center);
    color: $color--labels-secondary;
    i {
        font-size: 28px;
        margin-right: 16px;
        transition: 0.2s linear;
        &:hover {
            color: $color--blue-active;
        }
    }
    span {
        font-size: 13px;
        margin-right: 21px;
    }
    #followers--count {
        color: $color--black--navs-counters;
        font-size: 14px;
        margin-right: 6px;
    }
}

// PROFILE - MAIN PANEL
.profile__main {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);
}

.profile__main__display {
    margin: 46px 39px;
    font-size: 14px;
}

.initial-hide {
    display: none;
}

.profile__main__row {
    @include flexbox;
    @include flex-direction(row);
}

.profile__main__title {
    font-size: 23px;
    font-weight: 500;
    color: $profile__title;
    margin-bottom: 33px;
    margin-left: 5px;
    letter-spacing: 0.4px;
}

#profile__main--name {
    font-size: 16px;
    font-weight: 700;
    padding-right: 15px;
}

.profile__main__div--background {
    background-color: $profile__main__div--background--color;
    height: 36px;
    @include flexbox;
    @include align-items(center);
    padding: 0px 6px;
    margin-bottom: 1px;
    padding-right: 28px;
    & i {
        color: $color--labels-secondary;
        margin-right: 8px;
        font-size: 22px;
    }
    .ion-android-globe {
        font-size: 18px;
    }
}

#profile__main--phone {
    font-size: 15px;
}

.profile__main__edit {
    background-color: $profile__main__div--editicon--background-color;
    width: 43px;
    height: 36px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    transition: 0.2s linear;
    &:hover {
        background-color: $color--blue-active;
        color: $window__color--background;
    }
    i {
        font-size: 18px;
    }
}

// PROFILE MAIN PANEL - EDIT POPUP WINDOW
.profile__main__edit__popup {
    width: 262px;
    height: 106px;
    background-color: $window__color--background;
    box-shadow: 0px 0px 20px 3px #c5c5c5;
    position: relative;
    left: 180px;
    top: -44px;
    padding: 19px;
    letter-spacing: -0.9px;
    visibility: hidden;
    z-index: 1;
    .shape--triangle {
        position: absolute;
        left: -15px;
        top: 17px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 15px solid $window__color--background;
        border-bottom: 10px solid transparent;
    }
}

#profile__main__edit--input {
    width: 260px;
    margin: 2px 4px;
    line-height: 31px;
}

#profile__main__edit--text {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: $color--labels-secondary;
}

.profile__main__edit--btn {
    width: 97px;
    height: 30px;
    background: none;
    border: 1px solid $color--blue-active;
    text-transform: uppercase;
    color: $color--blue-active;
    font-weight: 700;
    font-size: 12px;
    border-radius: 2px;
    transition: 0.2s linear;
    &:hover {
        background-color: $color--blue-active;
        color: $window__color--background;
    }
}

#profile__main__btn--save {
    margin-left: 2px;
    letter-spacing: 0.8px;
}

#profile__main__btn--cancel {
    margin-top: 20px;
    margin-left: 18px;
    letter-spacing: -0.8px;
}

// PROFILE SETTINGS PANEL
.settings--panel {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(flex-start);
    input {
        width: 270px;
        margin: 8px 3px;
    }
    label {
        margin-left: 3px;
    }
}

.settings__title {
    margin-bottom: 10px;
}

#profile__settings__btn--save {
    margin: 20px 4px;
    &:hover {
        background-color: $color--blue-active;
        color: $window__color--background;
    }
}

// PROFILE EDIT MOBILE - NO DISPLAY DESKTOP

// MEDIA QUERIES - RWD
// RWD LOGIN
@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    .login--background {
        background: none;
        min-width: 100%;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        margin-top: 5em;
    }
    // LOGIN PAGE
    input {
        width: 75%;
        margin-top: 10px;
        padding-bottom: 7px;
        margin-left: 10%;
    }
    label {
        font-size: 12px;
        margin-left: 10%;
    }
    .login--window {
        min-height: 60vh;
        width: 100vw;
        margin: 0;
        border-radius: 0px;
        box-shadow: none;
        @include flexbox;
        @include align-items(flex-start);
        @include flex-direction(column);
    }
    #login--title {
        width: 100%;
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 35px;
    }
    #login__label--email {
        margin-top: 50px;
    }
    #login__label--pass {
        margin-top: 30px;
    }
    #login--disclaimer {
        text-align: left;
        width: 75%;
        margin-top: 30px;
        margin-left: 10%;
    }
    #login__btn {
        position: fixed;
        bottom: 0px;
        border: none;
        width: 100%;
        border-radius: 0;
    }
    // PROFILE PAGE
    .profile--background {
        min-height: 100%;
        min-width: 100%;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-direction(column);
        margin-top: 0;
    }
    // PROFILE - HEADER
    .profile__header {
        background-color: $profile__body--color;
        height: 65%;
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        margin-top: 0;
        border-radius: 0;
        @include flexbox;
        @include justify-content(flex-end);
        @include align-items(flex-start);
        @include flex-direction(column);
    }
    .profile__photoframe {
        @include align-self(center);
        width: 125px;
        height: 125px;
        box-shadow: none;
        background: url(../../images/profile_image.jpg) no-repeat;
        background-size: 275px 227px;
        background-position: -96px 0px;
        margin: 0;
        margin-top: 10%;
        z-index: initial;
    }
    .scroll {
        background-color: $window__color--background;
        height: 60px;
        width: 100%;
        border-radius: 1px;
        box-shadow: 0px 1px 4px 0px #c5c5c5;
        @include flexbox;
        @include flex-wrap(nowrap);
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        nav {
            ul {
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-start);
                list-style-type: none;
                text-transform: uppercase;
                a {
                    color: $color--black--navs-counters;
                    text-decoration: none;
                    li {
                        font-size: 15px;
                        line-height: 55px;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .profile__main {
        background-color: $window__color--background;
        height: 35%;
        width: 100%;
        margin: 0;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 0;
        box-shadow: 0px 1px 4px 0px #c5c5c5;
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        @include flex-direction(column);
    }
    .profile__info--name {
        @include align-self(center);
        align-self: center;
        margin-top: 3%;
        font-size: 20px;
        margin-bottom: 1%;
    }
    .profile__info {
        margin: 0;
        padding-left: 4%;
    }
    .profile__btn--uploadphoto {
        display: none;
    }
    .profile__btn--logout {
        background: none;
        border: none;
        position: absolute;
        top: 3%;
        right: 6%;
        padding: 0;
        margin: 0;
        &:hover {
            background-color: $window__color--background;
            color: $color--blue-active;
        }
    }
    .profile__reviews--stars {
        margin-right: 24px;
        color: $color--blue-active;
    }
    i {
        font-size: 25px;
        margin-right: 6px;
    }
    .profile__reviews {
        @include align-self(flex-start);
        @include flexbox;
        @include align-items(center);
        margin-bottom: 0;
        padding-left: 4%;
        color: $color--labels-secondary;
        #reviews--count {
            margin-right: 18px;
            color: $color--black--navs-counters;
            margin-left: 5px;
        }
        span {
            margin-right: 20px;
            font-size: 13px;
        }
    }
    .profile__followers {
        @include flexbox;
        @include align-items(center);
        color: $color--labels-secondary;
        padding-left: 4%;
        margin-top: 3%;
        margin-bottom: 2%;
        i {
            font-size: 28px;
            margin-right: 8px;
            transition: 0.2s linear;
            &:hover {
                color: $color--blue-active;
            }
        }
        span {
            font-size: 13px;
            margin-right: 21px;
        }
        #followers--count {
            color: $color--black--navs-counters;
            font-size: 14px;
            margin-right: 6px;
        }
    }
    // PROFILE - MAIN PANEL
    .profile__main {
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        position: relative;
    }
    .profile__main__display {
        margin: 0;
        font-size: 14px;
        margin-left: 4%;
        height: 25%;
    }
    .profile__main__title {
        font-size: 21px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    #profile__main--name {
        margin-bottom: 0;
    }
    .profile__main__row {
        @include flexbox;
        @include flex-direction(column);
    }
    
    .edit--mobile--topbar {
        @include flexbox;
        @include flex-direction(row)
        @include justify-content(flex-start);
        @include align-items(center);
    }
    .profile__main__div--background {
        background: none;
    }
    .profile__main__edit {
        display: none;
    }
    #profile__edit__btn--mobile {
        background-color: $profile__main__div--editicon--background-color;
        width: 30px;
        height: 30px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        position: absolute;
        right: 6%;
        top: 10%;
        i {
            font-size: 16px;
            color: $color--reviews-stars;
        }
    }
    
.edit--mobile {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);
    padding-bottom: 10%;
    margin-left: 5%;
    input {
            margin: 8px 3px;
        }
        label {
            margin-left: 3px;
        }
    
}
    // PROFILE MAIN PANEL - EDIT MOBILE
    .profile__main__edit__popup {
        display: none;
    }
    
    .edit--mobile__title{
        font-size: 21px;
        margin-bottom: 4%;
        margin-top: 10%;
        color: $profile__title;
        letter-spacing: 0.4px;
    }
    .edit--mobile--topbar--btns {
        position: absolute;
        top: 6%;
            right: 6%;
    text-transform: uppercase;
        color: $color--blue-active;
        span {
            padding: 15px;
            font-weight: 600;
        }
    }
    
    // PROFILE SETTINGS PANEL
    .settings--panel {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);
        input {
            width: 270px;
            margin: 8px 3px;
        }
        label {
            margin-left: 3px;
        }
    }
    .settings__title {
        margin-bottom: 10px;
    }
    #profile__settings__btn--save {
        margin: 20px 4px;
        &:hover {
            background-color: $color--blue-active;
            color: $window__color--background;
        }
    }
}
